<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="ns-backend-preview">
		<h2><b><f:translate key="LLL:EXT:ns_theme_comingsoon/Resources/Private/Language/locallang_db.xlf:wizard.ns_video" /></b></h2>

		<div class="video-baclend text-center">
			<f:if condition="{flexformData.media}">
				<f:for each="{media}" as="media" iteration="i">
					<f:variable name="video">{media}</f:variable>
				</f:for>
				<div class="video-media">
					<video width="320" height="240" controls autoplay="none">
						<source src="{video}" type="video/mp4">
					</video>
				</div>
			</f:if>
		</div>
	</div>
</html>