.error.help-block{
	position: absolute;
    color: #dc3545;
    font-weight: 500;
}
.form-control{
	border-radius: .25rem 0 0 .25rem;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
	border-color: inherit;
}
@media(max-width: 768px){
 body,.masthead .masthead-bg{
 	min-height: 1px;
 }
}